---
layout: raw
---
<div class="dailylogs">
<div ng-repeat="post in posts track by $index" class="log{% raw %}{{logNumber($index)}}{% endraw %} dailylog">
<article itemscope itemtype="http://schema.org/Article">
<div class="archywrap">
<div class="container">
<div class="archypost garamond postTitle">
<h1><span>

<a class="linkToLog" href="{% raw %}{{post.url}}{% endraw %}" target="_self" itemprop="name"  ng-bind-html="post.title">
</a>
</span></h1>
<span class="hiding"> by <span itemprop="author"></span> </span>
<p class="belowtitle"><i class="fa fa-dot-circle-o fa-lg"></i> <time itemprop="datePublished">
{% raw %}{{ post.date }}{% endraw %}
</time>

<span class="margin-left-11px">
<a href="https://www.facebook.com/sharer/sharer.php?u={% raw %}{{post.siteurl}}{% endraw %}" target="_blank">
<i class="fa fa-facebook fa-lg smaller"></i>
</a>
<a href="https://twitter.com/intent/tweet?text={% raw %}{{post.title}}{% endraw %}&url={% raw %}{{post.siteurl}}{% endraw %}"  target="_blank"><i class="fa fa-twitter fa-lg smaller"></i></a>
</span></p>
</div>
<div class="archypost">
<div class="archycontent" ng-bind-html="post.extract | to_trust">

</div>
<div ng-if="post.readmore" class="readmore"> <a href="{% raw %}{{post.url}}{% endraw %}" target="_self" >Read more</a></div>
</div>
</div>
</div>

</article>
</div>
</div>
