{% if page.footBlock%}{{page.footBlock}}{% endif %}
<footer class="foot">
{% if page.homePage == 1 %}
<div class="archysub subtitleBottom"><p>Paintings are <a target="_blank" href="/assets/img/franklin-s-footpath-1972.jpg">Franklin's Footpath</a>, by <a target="_blank" href="https://en.wikipedia.org/wiki/Gene_Davis_(painter)">Gene Davis</a>, 1972; <a target="_blank" href="/assets/img/dutch_landscape.jpg">Dutch&nbsp;Landscape</a>&nbsp;by&nbsp;<a target="_blank" href="https://en.wikipedia.org/wiki/Jacek_Yerka">Jacek&nbsp;Yerka</a>;<br> and <a target="_blank" href="/assets/img/still-life-with-grape-juice-and-sandwiches-xenia-1994.jpg">Still Life with Grape Juice and Sandwiches</a> by <a target="_blank" href="https://en.wikipedia.org/wiki/David_Ligare">David Ligare</a>, 1994. </div>
{% endif %}
<div>
 Handcrafted by <a target="_blank" href="https://github.com/0a-">.</a><a target="_blank" href="https://github.com/0a-/0a-.github.io"> View source</a></div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54767208-1', 'auto');
  ga('send', 'pageview');

</script>