<head>
  {% capture site_title %}{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endif %}{% endcapture %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site_title}}</title>
  <meta property="og:url"                content="{{page.url | prepend: site.url}}" />
  {% if page.isHomePage != 1 %}
  <meta property="og:type"               content="article" />
  {% endif %}
  <meta property="og:title"              content="{{site_title}}" />
  <meta property="og:description"        content="{{ page.metaDescription | strip_newlines}}" />
  <meta property="og:image"              content="{{page.coverImg | prepend: site.imageurl | prepends: site.url}}" />
  <meta name="keywords" content="0a, Archy Wilhes, explains">
  <meta name="description" content="{{ page.metaDescription | strip_newlines}}">
  {% if page.font %}
  {% case page.font %}
  {% when 'garamond' %}

   <!-- garamond is no longer in used;
   <script type="text/javascript" src="//use.typekit.net/agx1ofd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
 <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  {% else %}
  <link href='{{page.fontLink}}' rel='stylesheet' type='text/css'>
  {% endcase %}
  {% else %}
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  {% endif %}
  <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="{% if page.url == "/index" %}{{site.url}}{%else%}{{ page.url | prepend: site.url }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="/assets/js/core.js"></script>
   {% if page.headBlock%}{{page.headBlock}}{% endif %}
    {% if page.maths == 1%}{%include mathsRendering.html %}{% endif %}
</head>
