---
layout: lists
font: garamond
metaDescription: |
    Arch Wilhes here. 0a 0a 0a; 0a 0a - 0a 0a 0a; 0a 0a - 0a -- 0a 0a - 0a 0a 0a 0a; 0a 0a - 0a 0a 0a - 0a 0a 0a 0a 0a 0a - 0a 0a; /0a-0--00-0a-00a-0aaa-0aa-00a-0a/; /?/;
# Drop me an email if you solve this:) I've got some cool prizes for the first 6 people who solve it.
# The current number of people who has solved it: 0 
postType:
  -
    name: "article"
    title: "The '0a Explains' Series"
  -
    name : "minute"
    title: "The 'A in x Minutes' Series"
footBlock: |
    <script type="text/javascript" src="/assets/js/aboutBtn.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
      <script type="text/javascript" src="/assets/js/archgular.js"></script>
homePage : 1
extraClasses: ["theHomePage"]
---
<div class="homelogs" ng-app="homeLog">
<div class="archywrap homelogstitle">
<div class="container">
<div class="archy_scroll_view_controller">
<div class="archylist">
<h2 ng-controller="MainCtrl"><span ng-bind="showingTitle">Daily Logs of Arch's: Lastest Log</span></h2>
    <div class="row">
    {% for choice in (1..3) %}
    <div class="col-sm-4">
    <div class="archyitem {% cycle "chosen showLatestLog", "showAllLogs", "showLogsBefore" %}">
        <a href="{% cycle "/latestLog", "/all-dailylogs", "/logs-from-the-past" %}" class="thumbnail displayChoiceWrapper">
        <img src="{% cycle "/assets/img/franklin-s-footpath-1972.jpg", "/assets/img/dutch_landscape.jpg","/assets/img/still-life-with-grape-juice-and-sandwiches-xenia-1994.jpg" %}">
          <div class="vcenter displayChoice">
            <div class="vcenter displayChoiceInner">
              <span class="big  {% cycle "", "twoline", "twoline" %}">
                  {% cycle "Latest Log", "Logs after<br>", "Logs before<br>" %}
              </span>
              {% cycle "", "The Game That Matters", "The Game That Matters" %}
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    </div>
</div>
</div>
</div>
<div class="notHomePage">
<div class="latestPost entirelog">
  {% assign posts_groups = site.posts | group_by:"postType" %}
  {% for posts_group in posts_groups %}
  {% if posts_group.name == "dailylog" %}
  {% assign posts = posts_group.items %}
  {% assign includeFullLog = 1 %}
  {% for page in posts limit: 1 %}
  <div class="log2">
  {% assign isHomePage = 1 %}
  {% if page.maths == 1 %}
  {%include mathsRendering.html %}
  {% endif %}
  {% include log.html %}
  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>
<div class="NGVIEW">
<div ng-view></div>
</div>
</div>
</div>
</div>

{% assign words = site.word_of_the_day | sort: 'data' | reverse %}
{% for word in words limit: 1 %}
<div class="top_right_absolute">
<div>Word of The Day</div>
<div class="wordWordWord"><a target="_blank" href="{{word.link}}">{{word.word}}</a></div>
</div>
{% endfor %}

{% assign articles = site.article_of_the_week | sort: 'data' | reverse %}
{% for article in articles limit: 1 %}
<div class="top_right_absolute2">
<div>Article of The Week</div>
<div class="wordWordWord"><a target="_blank" href="{{article.link}}">{{article.title}}</a></div>
</div>
{% endfor %}