---
permalink: latestLog/
---

{% assign posts_groups = site.posts | group_by:"postType" %}
  {% for posts_group in posts_groups %}
  {% if posts_group.name == "dailylog" %}
  {% assign posts = posts_group.items %}
  {% assign includeFullLog = 1 %}
  {% for post in posts limit: 1 %}

<!DOCTYPE html>
<html>
<head>
<title> Latest Daily Log of Arch's </title>
<meta name="descirption" content= "this would redirect you to the Latest Daily Log of Arch's">
<meta charset="UTF-8">
 
  {% assign latestUrl = post.url | prepend: site.url  %}
    
    <script type="text/javascript">
        window.location.href = "{{latestUrl}}";
    </script>
</head>
<body>
<a href="{{latestUrl}}">_</a>
</body>
</html>
  {% endfor %}
  {% endif %}
  {% endfor %}