
<div class="archywrap">
<div class="container">
<div class="archy_scroll_view_controller">

{% if posts_group.name == listFilterName %}
{% assign posts = posts_group.items %}
<div class="archylist"><h2><span>{{listFilterTitle}}</span></h2>
  <div class="row">
    <div class="col-sm-4 archyitemdimension">
    {% assign number = -1 %}
    {% for post in posts%}
    {% unless post.title == page.title %}
      {%assign number = number | plus: 1 | modulo: 3 %}
      {% if number == 0 %}
      {% include listitem.html %}
      {% endif %}
    {% endunless %}
    {% endfor %}
    </div>
    <div class="col-sm-4 archyitemdimension">
    {% assign number = -1 %}
    {% for post in posts%}
    {% unless post.title == page.title %}
      {%assign number = number | plus: 1 | modulo: 3 %}
      {% if number == 1 %}
      {% include listitem.html %}
      {% endif %}
    {% endunless %}
    {% endfor %}
    </div>
    <div class="col-sm-4 archyitemdimension">
    {% assign number = -1 %}
    {% for post in posts%}
    {% unless post.title == page.title %}
      {%assign number = number | plus: 1 | modulo: 3 %}
      {% if number == 2 %}
      {% include listitem.html %}
      {% endif %}
    {% endunless %}
    {% endfor %}
    </div>
</div>
</div>
{% endif %}
</div>
</div>
</div>

{% comment %}
<div class="archywrap">
<div class="container">
<div class="archy_scroll_view_controller">
{% unless page.category %}
{% assign filterBy = "postType" %}
{% else %}
{% assign filterBy = "category" %}
{% endunless %}
{% assign posts_groups = site.posts | group_by:filterBy %}
{% for listFilter in page[filterBy] %}
{% for posts_group in posts_groups %}
{% if listFilter.name %}
{% assign listFilterName = listFilter.name %}
{% else %}
{% assign listFilterName = listFilter %}
{% endif %}
{% if posts_group.name == listFilterName %}
{% assign posts = posts_group.items %}
<div class="archylist"><h2><span>{{listFilter.title}}</span></h2>
  <div class="row">
    <div class="col-sm-4 archyitemdimension">
    {% for post in posts%}
      {%assign number = forloop.index0 | modulo: 3 %}
      {% if number == 0 %}
      {% include listitem.html %}
      {% endif %}
    {% endfor %}
    </div>
      <div class="col-sm-4 archyitemdimension">
    {% for post in posts %}
      {%assign number = forloop.index0 | modulo: 3 %}
      {% if number == 1 %}
      {% include listitem.html %}
      {% endif %}
    {% endfor %}
    </div>
      <div class="col-sm-4 archyitemdimension">
    {% for post in posts %}
      {%assign number = forloop.index0 | modulo: 3 %}
      {% if number == 2 %}
      {% include listitem.html %}
      {% endif %}
    {% endfor %}
    </div>
</div>
</div>
{% endif %}{% endfor %} 
{% endfor %}
</div>
</div>
</div>{% endcomment %}

