 <div class="archyitem" itemscope itemtype="http://schema.org/Article">
        <div class="archydate_mobile PTSerif">
          <span itemprop="datePublished">
          {{ post.date | date: "%b %-d, %Y" }}
          </span>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="thumbnail"><img src=" {% if post.coverImg == 0 %} {{post.img}} {% else %}{{post.coverImg | prepend: site.imageurl }} {% endif %}" alt="" itemprop='thumbnailUrl'>
          <div class="vcenter archycover">
            <div class="vcenter archydate">
              <span class="big">
              {{ post.date | date: "%d" }}
              </span><br>
              {{ post.date | date: "%b %Y" }}
            </div>
          </div>
        </a>
        <div class="archytitle PTSerif">
          <span>
          <a itemprop="name" class="opacity_hover" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a><br>
          </span>
        </div>
      </div>
