{% if includeFullLog == 1 %}
{% assign displayExtract = 0 %}
{% endif %}
<div class="archypost  {% if page.font %} {{page.font}} {% else %} lato {%endif%}">
<div class="archycontent">{% if displayExtract == 1 %}{{page.extract | markdownify}} {% else %} <div class="articleBody" itemprop="articleBody">{% if isHomePage %} {{page.content | markdownify }} {% else %} {{content}} {% endif %}</div> {% endif %}</div>
{% if displayExtract == 1%}
{% unless page.noreadmore == 1%}
<div class="readmore"> <a href="{{page.url}}">Read more</a></div>
{% else %}
<br>
{% endunless %}
{% else %}
{% include post/footer.html %}
{% endif %}
</div>
<script src="/assets/js/kudosplease.js">
</script>
<script src="/assets/js/article.js">
</script>
