<div class="archypost  {% if page.font %} {{page.font}} {% else %} lato {%endif%}" itemprop="datePublished">
<div class="archycontent">{% if displayExtract %}{{page.extract | markdownify}} {% else %} <div class="articleBody" itemprop="articleBody">{{content }}</div> {% endif %}</div>
{% if displayExtract%}
{% unless page.noreadmore == 1%}
<div class="readmore"> <a href="{{page.url}}">Read more</a></div>
{% endunless %}
{% else %}
<div class="kudobox">
<div class="kudos" data-url="{{page.url | prepend: site.identity}}"></div>
</div>
{% endif %}
</div>
<script src="/assets/js/kudosplease.js">
</script>
<script src="/assets/js/article.js">
</script>