$coolFont: 'Yellowtail', cursive, "Courier New", "Courier", "Impact", "Palatino Linotype";

.zeroA{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color:#fff;
  font-size: 16px;
  line-height: 1.42857143;
  position: static !important;
}
.whitebg{
  background-color: #fff
}
h2{
  font-family: 'PT Serif', serif;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  color:#111;
  display: inline-block;
}
.container{
  position: relative;
}

.archywrap{
  background-color: #f3f3f3;
}
a{
  color:inherit;
  cursor: pointer;
  text-decoration:none;
}
a:hover,a:focus,a:visited{
  color:inherit;
  text-decoration:none;
}

.archyhead_wrap{
  padding-top:200px;
  padding-bottom: 200px;
  overflow: hidden;
   @media (max-width: 767px){
  padding-top:130px;
  padding-bottom: 130px;
   }
}
.archyhead{
  position:relative;
  // -webkit-transition: background-color 4s ease-in-out;
  // transition: background-color 4s ease-in-out;
  width: 100%;
  .headerDOM{
    left:0
  }
  .page_meta_info_wrapper{

    .page_meta_info{
      display: table;
      margin:0 auto;
      div{
       line-height: normal !important;
      }
      .arrow{
      margin:0 40px;
      position: relative;
      }
      .current_region{
        font-family: $coolFont;
        text-align: center;
        font-size: 18px;
      }
      .archyitem{
        width:230px;
        img{
          width: 195px;
        }
        .archytitle{
          font-size: 11px;
          text-align: center;
          position:relative;
          left:-15px;
          padding-top:10px;
          height:auto;

        }
      }
    }
  }
  .about_me{
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    display: none;
    width: 500px;
    position:absolute;
    top:50%;
    left:50%;
    font-size: 13px;
    @media (max-width: 790px){
      div{
      font-size: 0.9em !important
      }
    }
    // height:100px;
    margin-top: -50px;
    margin-left:-160px;
    .list_nav{
      // font-weight: 600;
      .not_selected{
        color:#ccc;
        cursor:pointer
      }
      li{
        margin-right: 10px;
      }
    }
    a{
        color:#5AC8FB
    }
  }
  .about_archy_content{
    display:none
  }
  .inline{
      display:inline-block;
      vertical-align:middle
  }
  .central{
    left:0;
    position: relative;
    display: table;
    margin:0 auto;
    height: 55px;
    line-height: 55px;
    div{
      line-height: normal
    }
    .logo{
      // display: table;
      width:90px;
      margin:0 auto;
      height:55px;
      position: relative;
      span{
        display: none
      }
      .version{
        position:absolute;
        right:-16px;
        top:-5px;
        font-family: 'PT Serif', serif;
      }
      img{
        height: 100%;
        width: auto;
        margin:0 auto;
        display: block
      }
    }
    .nav_choices{
    display: table;
    margin:5px auto;
    margin-top: 16px;
    color:#000;
    position:relative;
    left:4px;
    font-size:12px;
      .nav_choice{
        text-align: center;
        margin:3px 10px;
        display: inline-block;
        // line-height: 30px;
        line-height: 15px;
        .fa-lg{
          font-size: 1.2em
        }
        span{
          display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
        small{
          position: relative;
          top:-2px
        }
      }
    }
  }
}
/*head ended*/


.archy_scroll_view_controller{
   @media (max-width: 767px){
    h2{
      font-size: 15px
    }
   }
overflow:hidden;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
.archylist{

  margin-top:10px;
  margin-right:5px;
  margin-left: 5px;
  margin-bottom:30px;
  .vcenter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -30px;
  height: 60px;
  }
  .row{
    max-width: 1200px;
  }
}

.archyitem{
  .archytitle{
    span{
      @media (max-width: 790px){
      font-size: 0.85em !important
      }
      @media (max-width: 767px){
        // font-size: 19px;
        // text-align: center
        //hmm what is this for?
      }
    }
  }
}
.archydate_mobile{
  font-size:13px;
  margin-bottom:5px;
  text-align:right;
  @media (min-width: 768px){
    display: none !important
  }
}
}

.non_scroll{
  max-width: 1000px;
  margin:0 auto;
  .archylist{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.archyitem{
  margin-top:10px;
  .archytitle{
    font-size: 15px;
    height:80px;
    line-height: 80px;

    a{
      color:#5b5b5b;
      cursor: pointer;
    }
    span{
      line-height: normal;
      vertical-align: middle;
      display: inline-block;
    }
  }
  .thumbnail {
  display: block;
  padding: 0;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 0;
  border-radius:4px;
  // border-top-left-radius: 4px;
  // border-top-right-radius: 4px;
  // -webkit-transition: color .2s ease-in-out;
  // transition: all .2s ease-in-out;
  position: relative;
  overflow:hidden;
    img{
      width: 100%
    }
    .archycover{
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image:url('/assets/img/black.png');
    /*overwrite */
    top:0;
    margin-top:0;
    height:100%;

      .archydate{
        color:#52FFFF;
        font-size:20px;
        line-height:20px;
        -moz-opacity: 0;
        -webkit-transition: color 4s ease-in-out;
        transition: color 4s ease-in-out;
        .big{
          font-size: 35px;
          line-height: 40px;
        }
      }
      .archydate:hover{
        color:#52FFBF
      }
    }
    .archycover:hover{
      opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    }
  }
}

.opacity_hover:hover{
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=60);

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;
  opacity: 0.6;
  color:inherit;
  text-decoration:none;
}
.archypost{
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7em;
  max-width:1000px;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:40px;
  .entry-meta1{
    font-size: 15px;
    line-height: 17px;
    overflow: hidden;
    li{
    display: block;
    }
  }
  h1{
    font-weight: 700;
    line-height: 1.4em;
    font-size: 2em;
    margin:0;
    padding:20px 0;
    @media (max-width: 568px){
      padding: 5px 0;
    }
  }
  .archycoverpic{
    display: none;
    text-align: center;
    width: 100%;
    img{
      width: 90%;
    }
  }
  .archycontent{
    margin-top: 20px;
  }
  .archypostfooter1{
  padding-bottom:20px;
  margin-top: 40px
  }
  .archypostfooter2{
    padding-bottom:30px;
    padding-top: 30px;
    display: none
  }
  .archypostfooter1{
    color:#888;
  }

  .archyshare{
    a{
    margin-left: 20px;
    font-size: 16px;
    }
  }
  .archycommentsection{
    display: none;
  }
  .archycomment{
    font-size: 16px;
  }
}

.otherstuff_wrapper{
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.whisper{
  padding:20px 10px;
  padding-bottom:50px;
  max-width: 1000px;
  margin:0 auto;
  font-family: $coolFont;
  font-size:16px;
  line-height: 1.3;
  a{
    color:#235DEB;
  }
}



/*extra*/


.notHomePage{

  .archyhead_wrap{
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  @media (min-width: 768px){
    .block0a{
      display: inline-block;
      margin-right: -20px
    }
  }

  //for maths article
  .MathJax{
    color:#0586f0;
  }
  .MathJax_Display{
  margin:25px 0 !important;
    .MathJax{
      color:#02c5a8;
      font-size:0.85em;
    }
      @media (max-width: 485px){
        overflow-x: scroll; overflow-y: visible;
        max-width: 100%
      }
  }
  hr.maths{
    border-top:none;
    height:1px;
    background-color:#fd9d58;
    width: 160px;
  }
  .d_shortcuts{
  background-color:#f3f3f3;
  max-width: 750px;
  padding: 30px;
  margin: 0 auto;
  }
  .MathJax_Display br{
  display:none
  }
  .archycontent a,.colored_anchor{
  color:#06acf9
  }
  .archycontent a:hover,.colored_anchor:hover{
  color:#388bff
  }
  .fixed_top_nav{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #f3f3f3;
  position:fixed;
  display:none;
  left:0;
  top:-70px;
  width:100%;
  text-align:center;
  font-size: 14px;
  line-height:10px;
  font-family:Times "Times New Roman" serif !important;
  padding:5px 0;
  }

  @media (min-width: 920px) {
    .fixed_top_nav {
      display: block
    }
  }
  .fixed_top_nav .inlineblock{
  margin:10px;
  cursor:pointer;
  color:#aaa;
  display:inline-block
  }
  .fixed_top_nav .inlineblock:hover,.fixed_top_nav .currently_at{
  color:#000
  }
  .loading_maths{
  background-color: rgba(90, 90, 90, 0.1);
  color:#000;
  position:fixed;
  top:20px;
  right:20px;
  padding:30px;
  font-size:14px;
  font-family:"Times" "Times New Roman" serif;
  text-align:center;
  }
}

.be-hidden1{
  @media (max-width: 730px){
    display: none !important
  }
}
.HomeLists{

}

.width-auto{
  width: auto !important
}
.margin-top-right-15{
  margin-right: 15px;
  margin-top: 15px;
}

/*overwrite*/


.archy_cap{
  text-transform: capitalize;
}

.in_brackets{
  font-size: 0.9em;
}

/*screen*/

.archycontent, h1 span,.footer{
  @media (max-width: 790px){
    font-size: 0.85em !important
  }
  @media (max-width: 685px){
    font-size: 0.87em !important
  }
  @media (max-width: 600px){
    font-size: 0.78em !important;
  }
  @media (max-width: 500px){
    font-size: 0.75em !important;
  }
}
h1{
  @media (max-width: 790px){
    line-height: 0.8em !important
  }
}
h1 span{
  @media (max-width: 500px){
    font-size: 0.70em !important;
  }
}

.padding-be-smaller1{
  @media (max-width: 730px){
    padding-top:130px;
    padding-bottom:130px;
  }
}
.be-shown{
  @media (max-width: 730px){
    display: block !important
  }
}

.page_meta_info{
 .article_meta_cover_picture{
  border-radius:4px;
  }

}

.belowtitle{
  font-size: 13px;
  .fa{
    margin-right: 5px
  }
  .smaller{
    font-size: 1.1em;
    line-height: 0.1em;
    margin: 0 10px
  }
  @media (max-width: 568px){
     margin-top: 5px;
  .fa{
    margin-right: 3px
  }
  .smaller{
    font-size: 0.9em;
    margin: 0 5px
  }
  }
}

.postTitle{
  color:#5e5e5e !important;
  margin-bottom: 70px;
   @media (max-width: 568px){
     margin-bottom: 59px;
   }
}
.archysub{
    left:0;
    color:#333;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top:-60px;
    top:-53px;
    line-height: 60px;
    font-family: $coolFont;
    text-align: center;
    width: 100%;
}
.subtitleBottom{
  top:-60px;
  color:#666 !important;
  a{
    color:#999
  }
  p{
    line-height: 18px;
  }
}
.foot {
    width: 100%;
    text-align: center;
    position: relative;
    color: #111;
    padding: 30px 0;
    padding-bottom: 20px;
    font-size: 11px;
    line-height: 0.7
}

footer {
    background-color: #fff
}

.foot a {
    color: #888
}

.border-lined{
  blockquote{
    border-left:4px solid #bbb;
     @media (max-width: 668px){
      border-left:3px solid #aaa;
     }
  }
  .text-center{
    margin: 1.5em 0 !important
  }
}
.aboutPage{
  .about_trigger{
    display: none !important
  }
   .archyhead_wrap{
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  @media (min-width: 710px){
    .archyhead_wrap{
      position: absolute;
      left:0;
      top:50%;
      width:100%;
      margin-top:-128px;
    }
    .foot{
      position: absolute;
      bottom: 14px;
    }
    .headerDOM{
      margin-right:-13px !important
    }

  }

.about_me_mobile{
  padding:50px 0;
  font-size:16px;
  margin-bottom:15px;
  .list_nav{
    font-size:19px;
    line-height: 1.2;
    margin-top: 25px
  }
  @media (min-width: 710px){
  display:none;
  }
  @media (max-width: 568px){
  font-size:0.9em;
  .list_nav li{
    font-size:0.9em;
  }

  }
  a{
    color:#5AC8FB
  }
}

}
.dailylog{
  .archypost{
    margin-top:34px;
    color:#666;
    max-width: 52em;
    margin-bottom: 29px;
  }
  .d_shortcuts{
    background-color:#fff;
  }
}
.about_0a_content{
  margin-top: -4px;
  line-height: 1.8em;

}
.dailylog code{
  background-color: #fff
}

.readmore{
  font-family: $coolFont;
  font-size: 1.4em;
  margin: 40px 0;
   //also used in header as an inline-item
   //this is why margin-right 20 is needed
  margin-right: 20px;
   color:#17d9b2 !important;
  a:hover{
    color:#0ce4cb !important;
  }
  @media (max-width: 790px){
    font-size: 1.2em;
    margin: 20px 0;
  }
  @media (max-width: 510px){
    font-size: 0.9em;
    margin: 10px 0;
  }
}



.yore {

  .h{
    display: none
  }
  .picture{
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    img{
      max-width: 100%
    }
  }
  .solution,.hint{
    color:#eee
  }
  .solution:hover,.hint:hover{
    color:#111
  }
  fmath,math{
    color:#f00544
  }
}
.container{
  .archycontent .archywrap{
      .container{
        width: 100%;
      }
  }
}

.dailylogs .archypost{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.wordsToRead{
  max-width: 44em !important;
}
.entirelog .archypost{
  max-width: 47em !important;
}

.homelogs {
  .archysub{
    display: none !important;
  }
  .log2 {
    .archypost{
      margin-top: 24px;
    }
  }
  .kudos {
    background: #ededed;
    box-shadow: inset 0 0 0 0.45em #000, inset 0 0 0 2.3em #f4f4f4, inset 0 0 0 6em #000;
  }
  .displayChoiceWrapper{
    height: 200px;
  }
  @media (max-width: 991px) {
    .displayChoiceWrapper{
      height: 150px;
    }
  }
  .displayChoice{
    /*overwrite */
    top:0 !important;
    margin-top:0 !important;
    height:100% !important;
    font-family: $coolFont;
    background-image: url("/assets/img/not-so-black.png");
    }
    .displayChoiceInner{
      color:#fff;
      .big{
        font-size: 30px;
        line-height: 58px;
      }
      .twoline{
        line-height: 36px;
      }
    }
    .showLatestLog{
        img{
          margin-top:-4px
        }
    }
    .showAllLogs{
        img{
          margin-top:-2px
        }
    }
    .showLogsBefore{
        img{
          margin-top:-30px
        }
    }
    @media (max-width: 767px){
        .showLatestLog{
        img{
          margin-top:-4px
        }
    }
    .showAllLogs{
        img{
          margin-top:-62px
        }
    }
    .showLogsBefore{
        img{
          margin-top:-150px
        }
    }
    }
    .chosen .displayChoiceInner{
      color:#52FFBF
    }
    .displayChoiceInner:hover{
      color:#52FFBF
    }
  .homelogstitle{
    background-color: #ededed
  }
  .logs_from_the_past{
    margin-top: 50px;
    background-color: #ededed
  }

}

.theHomePage{
  .subtitleBottom{
    position: static;
    line-height: 70px;
    p{
      line-height: 24px;
    }
    margin-bottom: 45px;
  }
  .d_shortcuts{
    background-color: #fff !important;
  }
}

$ab: (#727272,#434343,#111);
$a: (#6f6f6f,#434343,#000);
$bg: (#f4f4f4, #ededed, #e5e5e5);
$rm: (#17d9b2,#0aced1,#16cef3);
@for $i from 1 through 3{
  .log#{$i}{
    .archypost,.belowtitle{
      color:nth($ab, $i) !important
    }
    .linkToLog{
      color:nth($a, $i) !important
    }
    .linkToLog:hover{
      color:#aaa !important
    }
    .archywrap{
      background-color: nth($bg, $i);
    }
    .readmore{
      color:nth($rm, $i) !important;
    a:hover{
      color:#0ce4cb !important;
    }
    }
  }
}

.kudobox{
  margin-right: 94px;
}
.kudobox,.showDisqus,.discussion{
  display: inline-block;
  line-height: normal !important;
  vertical-align: middle;
}
.showDisqus,.discussion{
  margin-right: 20px;
  font-family: 'Yellowtail', cursive, "Times";
  font-size: 1em;
  padding: 10px 0;
  a{
    color: #4786fa;
  }
  a:hover{
    color: #7e99fc
  }
}
#disqus_thread{
  padding-top: 0;
  padding-bottom: 20px;
  display: none;
}

.articleFooter{
  padding-bottom: 20px;
  font-size: 1em !important;

  @media (max-width: 600px){
    font-size: 0.78em !important;
  }
  @media (max-width: 685px){
    font-size: 0.87em !important;
  }
  @media (max-width: 790px){
    font-size: 0.85em !important;
  }

}

.wordCount{
  color:#999;
  margin-left: 7px;
  font-size: 0.7em
}
blockquote{
.highlight {
  overflow: scroll;
  pre{
  min-width: 1000px !important
  }
}
}

.top_right_absolute,.top_right_absolute2{
  position: absolute;
  top:20px;
  right:10px;
  width: 150px;
  font-size:12px;
  color:#999;
  line-height: 17px;
  text-align: center;
}
.wordWordWord{
  color:#666;
  font-size: 1.3em;
}

.top_right_absolute2{
  top:80px;
}
@media (max-width: 767px){
  .top_right_absolute2{
    display: none;
  }
}
kbd{
    padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.6;
    white-space: nowrap;
}

// .dailylog{
//   left: -10px;
//     position: relative;
// }