h3{
 font-size: 1.5em;
 line-height:1.7em;
  margin: 1.8em 0;
}
.col-sm-3,.col-sm-4,.col-sm-6{
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-sm-6{
width: 50%;
}
.col-sm-3{
  width: 25%;
}
.showIFFNotWideScreen{
    display: none
}
.showIFFWideScreen{
  display: block
}
@media (max-width: 767px){
  .showIFFNotWideScreen{
    display: block
  }
  .showIFFWideScreen{
    display: none
  }
  .col-sm-4,.col-sm-6{
    width:100%;
    float: none;
  }
  .col-sm-3{
    width: 50%;
  }
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.container:after,.row:after{
    clear: both;
}
.row:before,.row:after,.container:before,.container:after{
  content: " ";
  display: table;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
p{
  margin-bottom: 1rem;
}
.text-center{
  text-align: center;
  img{
    max-width: 100%
  }
}

blockquote{
  img{
    max-width: 100%
  }
font-size: 0.85em;
 @media (max-width: 790px){
font-size: 0.9em;
  }
color:#888;
padding:30px 15px;
 @media (max-width: 790px){
padding:30px 8px;
  }
margin:0
}

p{
@media (max-width: 485px){
max-width: 100%;
overflow-x: scroll; overflow-y: visible;
}
}

.garamond{
  //font-family: "adobe-garamond-pro", Times, "New Times Roman", serif;
  //use merriweather
  font-family: 'Merriweather', Times, "New Times Roman", serif;
  code{
    font-size: 0.9em !important;
  }
}
.PTSerif{
  font-family: 'PT Serif', Times, "New Times Roman", serif;
}
.lato{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  code{
    font-size: 1.1em !important;
  }
}

p img{
  max-width: 100%;
}
