<div class="archyitem" itemscope itemtype="http://schema.org/Article">
    <div class="archydate_mobile PTSerif">
      <span itemprop="datePublished">
      {% raw %}{{ post.date }} {% endraw %}
      </span>
    </div>
    <a href="{% raw %}{{ post.siteurl }}{% endraw %}" class="thumbnail"><img src=" {% raw %}{{ post.img }}{% endraw %} {% if post.coverImg == 0 %} {{post.img}} {% else %}{{post.coverImg | prepend: site.imageurl }} {% endif %}" alt="" itemprop='thumbnailUrl'>
      <div class="vcenter archycover">
        <div class="vcenter archydate">
          <span class="big">
          {% raw %}{{ post.day }} {% endraw %}
          </span><br>
          {% raw %}{{ post.monthYear }} {% endraw %}
        </div>
      </div>
    </a>
    <div class="archytitle PTSerif">
      <span>
      <a itemprop="name" class="opacity_hover" href="{% raw %}{{ post.siteurl }}{% endraw %}">
        {% raw %}{{ post.title }} {% endraw %}
      </a><br>
      </span>
    </div>
</div>
