<div class="archyitem" itemscope itemtype="http://schema.org/Article">
    <div class="archydate_mobile PTSerif">
      <span itemprop="datePublished">
      {% raw %}{{ post.date }} {% endraw %}
      </span>
    </div>
    <a target="_self" href="{% raw %}{{ post.url }}{% endraw %}" class="thumbnail"><img ng-src="{% raw %}{{ post.img }}{% endraw %}" alt="" itemprop='thumbnailUrl'>
      <div class="vcenter archycover">
        <div class="vcenter archydate">
          <span class="big">
          {% raw %}{{ post.day }} {% endraw %}
          </span><br>
          {% raw %}{{ post.monthYear }} {% endraw %}
        </div>
      </div>
    </a>
    <div class="archytitle PTSerif">
      <span>
      <a target="_self" itemprop="name" class="opacity_hover" href="{% raw %}{{ post.url }}{% endraw %}" ng-bind-html="post.title">
      </a><br>
      </span>
    </div>
</div>
