<!DOCTYPE html>
<html>
{% include general/head.html %}
{% if layout.subspace %}
{% assign bodyClass = layout.extraClasses | join " " | prepend: "notHomePage " %}
{% assign bodyClass = layout.moreExtraClasses | join " " | prepend: " " | prepend: bodyClass %}
{% else %}
{% assign bodyClass = page.extraClasses | join " " %}
{% assign bodyClass = layout.extraClasses | join " " | | prepend: bodyClass %}
{% endif %}
<body class="{{bodyClass}}">

{% include general/header.html %}
{{ content }}
{% include general/footer.html %}
</body>



</html>
